{% extends 'base.html.twig' %}


{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
<div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">{{ flash_error }}</div>

    {% endfor %}






<div class="grid grid-rows-1 place-content-center mx-auto lg:pt-20 md:pt-12 sm:pt-12">
	<h1 class="text-[#2B292D]  font-semibold lg:text-6xl text-center md:text-3xl sm:text-2xl">

		Informations de connexion perdues
	</h1>

</div>

{{ form_start(requestForm) }}


<div class="place-content-center mt-6 bg-[#f8f8f8]  lg:mx-auto md:mx-auto sm:mx-auto lg:w-[768px] lg:h-full md:w-full md:h-full sm:w-full sm:h-full rounded-3xl">

	<div class="items-center mx-10 pt-8 grid grid-cols-1 ">
		<div>
			<i class="fas fa-envelope"></i>
			{{ form_row(requestForm.email) }}

		</div>



        <div>
            <small class="font-medium text-base text-[#2B292D]">
Saisissez votre adresse électronique dans le champ ci-dessous et cliquer sur le bouton.

            </small>
        </div>

<div class="grid grid-rows-1 items-center">
	<button type="submit" class="py-3 whitespace-nowrap text-white  my-4 bg-[#2B292D] block hover:bg-white hover:text-indigo-700 rounded-3xl lg:text-2xl mx-auto lg:w-full md:w-full sm:w-full">Demander un nouveau mot de pass</button>

</div>
</div>
</div>

{{ form_end(requestForm) }}


{# section #}

<footer
	class=" py-8 button-color my-7 rounded-br-3xl rounded-bl-3xl">

	<!-- Footer Flex Container -->
	<div class="container flex flex-col items-center justify-between mx-auto space-y-16 px-6 md:flex-row md:space-y-0">
		<div class="flex flex-col items-center justify-between space-y-8 text-lg font-semibold md:flex-row md:space-y-0 md:space-x-14 text-[#2b292d]">
			<img src="{{asset('build/images/Favicon.78e20fef.png')}}" alt="" class="mb-1"/>
			<span class=" text-white font-semibold">bluedrop.mobi</span>

		</div>

		<div class="flex text-zinc-500">
			<span>&copy
				<script>
					document.write(new Date().getFullYear())
				</script>
				Copyright -</span>


			<a>Tous droits réservés -
				<span class="underline">Mentions légales</span>
			</a>


		</div>
	</div>
</footer>
{# end.section #}

{% endblock %}











