{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<section id="hero" class="bg-[#f8f8f8] w-full lg:h-[462px]">
		<div
			class="container flex flex-col-reverse lg:place-items-center sm:place-items-center lg:flex-row md:flex-row sm:flex-row mx-auto  ">
			{# ...............div for the boy,girl image and the title in center ......................#}
			<div class="grid grid-rows-1 mx-auto sm:translate-y-10">
				<img src="{{asset('build/images/presentation/Groupboy.60ab66a6.png')}}" alt="" class=" lg:w-[396.47px] lg:h-[456.55px] z-8 lg:mt-6 lg:-translate-x-2 xl:top-0 mt-2 md:w-[240px] md:h-[200px] md:-translate-y-14 md:translate-x-10 sm:w-[200px] sm:h-[180px] sm:-translate-y-10 overflow-x-visible">


			</div>
			<div class="grid grid-rows-1 lg:-translate-y-24 md:-translate-y-4">
				<h1 class="text-[#2B292D text-center lg:text-[40px] lg:mt-10 md:text-[28px] sm:text-[25px] font-semibold ">
					Un produit dédié aux
					<br>
					questions de mobilité
				</h1>
				<div class="grid grid-rows-1 place-content-center lg:mt-5 ">
					<p class="font-normal text-center md:text-center text-[#2B292D] 16px ">
						Un produit pensé pour vos utilisateurs pour répondre<br>
					</p>
					<p class="font-normal text-[#2B292D] text-center 16px">
						à tous leurs besoins de mobilité.
					</p>
				</p>
			</div>
			<div class="grid grid-rows-1 place-content-center lg:mt-5 ">
				<a href="" class="rounded-full bg-[#2B292D] text-center py-3 px-6 font-semi-bold text-base text-white shadow-md hover:bg-white hover:text-indigo-800 mt-3 lg:w-[338px] lg:h-[48px] md:w-full sm:full																																																																																																																																																																																																																																																																																																																																																																																		">
					Découvrir le produit
					<i class="fa-solid fa-arrow-right"></i>
				</a>
			</div>
		</div>
		<div class="row-start-1 col-end-3 sm:mx-auto lg:w-[255.01px] lg:h-[421.65px] sm:-translate-y-4">
			<img src="{{asset('build/images/presentation/girl.cac20659.png')}}" alt="" class="lg:w-[255.01px] lg:h-[421.65px] z-8 lg:mt-20 lg:mr-20 xl:top-0 overflow-x-visible md:h-[200px] sm:w-[200px] sm:h-[180px]">


		</div>
	</section>

	{#............................... div for the video in a frame tag ....................................#}

	<div class="grid grid-col-1 place-items-center md:-translate-y-10 sm:-translate-y-6  ">
		<div class="row-start-2 row-span-2 ">
			<iframe class=" lg:w-[850px] lg:h-[525px] mx-auto lg:-translate-y-24 aspect-video rounded-3xl md:w-[600px] md:h-[92%] sm:w-[336px] sm:h-[92%] sm:mt-10" src="https://www.youtube.com/embed/bYPm5VNcB5o" allowfullscreen></iframe>
		</div>
	</div>

	{#.................... div container for the student image and the left content ........................ #}
	<div class="bg-[#f8f8f8] w-full lg:h-[450px] lg:place-items-center sm:place-items-center mb-6 md:mt-10 ">

		<div
			class="container flex flex-col lg:place-items-center sm:mt-10 md:place-items-center mx-auto px-6  md:flex-row md:space-x-16">
			<!-- Image -->
			<div class="md:w-1/2 lg:w-[400px] lg:translate-x-[150px] lg:place-items-center md:place-items-center md:justify-center items-center sm:justify-center sm:text-center sm:translate-y-6">
				<h1 class=" lg:text-4xl md:text-[28px] sm:text-[25px] place-items-center text-[#2B292D] font-semibold">
					Des parcours pensés pour vos utilisateurs.
				</h1>
				<p class="place-items-center lg:text-[16px] md:text-lg md:justify-center sm:text-sm font-normal">
					Chaque parcours à été pensé avec et pour vos utilisateurs
					<br>
					afin de leur proposer la meilleure expérience possible.
				</p>
			</div>
			<div class="flex flex-col place-items-center sm:mt-10 ">
				<div class="flex flex-col lg:mt-10">
					<img
					src="{{asset('build/images/presentation/student.1826b390.png')}}" alt="" class="lg:w-[468px] lg:h-[360px] lg:translate-x-[200px] md:place-items-center sm:place-items-center items-center "/>

				{# <div class="flex flex-col lg:-translate-x-[100px] md:-translate-10  lg:visible  md:invisible invisible sm:invisible sm:w-[2px] sm:h-[2px] ">
					            <img src="{{asset('build/images/presentation/arowstudent.a9f1681c.png')}}" class=" animate-bounce arrow lg:w-[64px] lg:h-[88px] lg:ml-40 lg:-translate-y-25 md:ml-40 md:-translate-y-80 md:w-[28px] md:h-[40px]" alt=" ">
							</div> #}
				</div>
			</div>
		</div>
	</div>
	{# ................................. Interface personnalisée avec icons (6)................................. #}
	<div class=" lg:mt-20 md:mt-20 grid grid-rows-1 sm:-translate-y-2">

		<div class="items-center place-content-center">
			<h1 class="text-[#2B292D] text-center lg:text-[40px] md:text-[28px] sm:text-[25px] font-semibold ">
				Une interface personnalisée
			</h1>
		</div>
		<div class="grid grid-rows-1 mt-2">
			<p class="font-normal text-[#2B292D] text-center 16px align-center">
				Des interfaces personnalisées qui s’adaptent à votre charte graphique
				<br>
				et à votre identité visuelle.
			</p>
		</div>
		<div class="grid grid-rows-1 place-content-center mt-4">
			<a href="/fonctionnalites" class="rounded-full bg-[#2B292D] text-center py-3 px-6 font-semi-bold text-base text-white shadow-md hover:bg-white hover:text-indigo-800 mt-3 lg:w-[338px] lg:h-[48px] md:w-full sm:full">
				Découvrir toutes les  fonctionalités
				<i class="fa-solid fa-arrow-right"></i>
			</a>
		</div>

	</div>

	{# ..........................6 icons 2 by 2 order........................................................... #}
	{# .........................................1st icon Personnalisation du logo ...................................#}

	<div class="row-span-1 mt-4">
		<div class="grid lg:grid-cols-2 lg:mx-28 md:mx-auto sm:mx-auto gap-y-4 md:grid-cols-1 sm:grid-cols-1 lg:divide-x-0 md:divide-y-0 divide-black text-center">
			<div class="items-center">
				<a href=""><img src="{{asset('build/images/presentation/personnalisation.93dfbf4b.png')}}" class=" mx-auto" alt="">

				</a>
				<h1 class="row-span-1 text-[#2B292D] font-semibold text-lg">Personnalisation du logo</h1>
				<p class="row-span-1 text-[#2B292D] font-normal mt-3 text-base "></p>
				Nibh morbi netus arcu felis. At non vitae eget ut
				<br>
				congue tortor fringilla mauris.
			</div>

			{# .........................................2 nd icon Des blocs adaptables .........................................#}

			<div class="items-center ">
				<a href=""><img src="{{asset('build/images/presentation/blocsadapte.88612e56.png')}}" class=" mx-auto" alt=""></a>


				<h1 class="row-span-1 text-[#2B292D] font-semibold text-lg">Des blocs adaptables</h1>

				<p class="row-span-1 text-[#2B292D] font-normal mt-3 text-base ">
					Nibh morbi netus arcu felis. At non vitae eget ut
					<br>
					congue tortor fringilla mauris.
				</p>
			</div>

			{# .......................3rd icon	Personnalisation des couleurs......................................... #}

			<div class="items-center">
				<a href=""><img src="{{asset('build/images/presentation/descouleurs.ef6f53a6.png')}}" class=" mx-auto" alt=""></a>


				<h1 class="row-span-1 text-[#2B292D] font-semibold text-lg">Personnalisation des couleurs</h1>

				<p class="row-span-1 text-[#2B292D] font-normal mt-3 text-base ">
					Nibh morbi netus arcu felis. At non vitae eget ut
					<br>
					congue tortor fringilla mauris.
				</p>
			</div>

			{#......................................... 4rd icon Une structure modulabe.........................................#}

			<div class="items-center">
				<a href=""><img src="{{asset('build/images/presentation/structuremodall.4942e757.png')}}" class=" mx-auto" alt=""></a>


				<h1 class="row-span-1 text-[#2B292D] font-semibold text-lg">Une structure modulabe</h1>

				<p class="row-span-1 text-[#2B292D] font-normal mt-3 text-base ">
					Nibh morbi netus arcu felis. At non vitae eget ut
					<br>
					congue tortor fringilla mauris.
				</p>
			</div>
			{# .........................................the 5 icon Intégration de votre charte ...........#}
			<div class="items-center">
				<a href=""><img src="{{asset('build/images/presentation/integrationchart.1bd8a2c2.png')}}" class=" mx-auto" alt=""></a>

				<h1 class="row-span-1 text-[#2B292D] font-semibold text-lg">Intégration de votre charte</h1>

				<p class="row-span-1 text-[#2B292D] font-normal mt-3 text-base ">
					Nibh morbi netus arcu felis. At non vitae eget ut
					<br>
					congue tortor fringilla mauris.
				</p>
			</div>

			{# .........................................the 6 icon Menus éditables...................... #}

			<div class="items-center">
				<a href="" class=" lg:w-[80px]"><img src="{{asset('build/images/presentation/menueditable.dac12c85.png')}}" class="mx-auto" alt=""></a>

				<h1 class="row-span-1 text-[#2B292D] font-semibold text-lg">Menus éditables</h1>
				<p class="row-span-1 text-[#2B292D] font-normal mt-3 text-base ">
					Nibh morbi netus arcu felis. At non vitae eget ut
					<br>
					congue tortor fringilla mauris.
				</p>
			</div>
		</div>
	</div>

	{#...................... divs for telefone image and video .....................#}

	<div class="bg-[#f8f8f8] w-full lg:h-[765px] md:h-[900px] sm:h-[860px] lg:place-items-center sm:place-items-center mb-6 lg:mt-40 md:mt-20 ">
		<div class="flex flex-row items-center justify-center text-center">
			<div class="lg:h-[599.99px] lg:place-items-center md:place-items-center lg:-translate-y-[80px] md:translate-y-[100px] sm:translate-y-[100px] sm:place-items-center">
				
<img src="{{asset('build/images/presentation/mobile.88856e7e.jpeg')}}" class="lg:w-[497.7px] lg:h-[599.99px] ">

					<iframe class=" lg:w-[222px] lg:h-[502px] lg:-translate-y-[559.9px] lg:-translate-x-[1.5px] border border-slate
											md:w-[248px] md:h-[518px] md:-translate-y-[576px] md:-translate-x-[1.5px] mx-auto aspect-video
 sm:h-[318px] md:aspect-square sm:aspect-square sm:w-[157px] sm:-translate-y-[343px] sm:-translate-x-[1.5px] rounded-2xl" src="https://www.youtube.com/embed/bYPm5VNcB5o" allowfullscreen></iframe>

				</img>
				<a href="#" class="lg:w-[80px] lg:h-[105px] lg:-translate-y-[1000px] lg:translate-x-[420px]
										md:w-[71.98px] md:h-[73.15px] md:-translate-y-[1000px] md:translate-x-[420px]
									    sm:w-[71.98px] sm:h-[73.15px] sm:-translate-y-[1000px] sm:translate-x-[420px] " alt=""></a>
			</div>
		</div>
</div>
		{# ................Une application mobile pour le web........... #}

		<div class="lg:-translate-y-[180px] md:-translate-y-[195px] sm:-translate-y-[400px] ">
			<h1 class="text-[#2B292D] text-center lg:text-[40px] md:text-[28px] sm:text-[25px] font-bold ">
				Une application mobile pour le web
			</h1>
			<h1 class="my-7 text-[#2B292D] text-center lg:text-[16px] md:text-[22px] sm:text-[18px] ">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit neque lacus pellentesque quam congue dolor mauris.
			</h1>
		</div>


	{#............ div for Toutes les fonctionnalités clés en main ..................#}


	<div class=" mt-16 grid grid-rows-1 items-center">
		<h1 class="text-[#2B292D] text-center lg:text-[40px] md:text-[28px] sm:text-[25px] font-bold ">
			Toutes les fonctionnalités
			<br>
			clés en main
		</h1>
		<h1 class="my-7 text-[#2B292D] text-center lg:text-[16px] md:text-[22px] sm:text-[18px] ">
			Des interfaces personnalisées qui s’adaptent à votre charte graphique
			<br>
			et à votre identité visuelle.
		</h1>
	</div>

	{# .........................divs for caroysel ...................................#}

	{# .........................divs for carousel ...................................#}
	{# ************************************************* #}

		<div
		id="controls-carousel" class="relative" data-carousel="static"> <!-- Carousel wrapper -->
		<div
			class="relative h-56 overflow-hidden rounded-lg md:h-96">
			<!-- Item 1 -->
			<div class="hidden duration-700 ease-in-out" data-carousel-item>
				<img src="{{asset('build/images/presentation/blackgirl.9b377215.png')}}" class="absolute block  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 w-[50%] h-[50%] mx-auto" alt="...">
			</div>
			<!-- Item 2 -->
			<div class="hidden duration-700 ease-in-out" data-carousel-item="active">
<img src="{{asset('build/images/presentation/carousal.af78b14b.jpeg')}}" class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 w-[50%] h-[50%] mx-auto" alt="...">

			</div>
			<!-- Item 3 -->
			<div class="hidden duration-700 ease-in-out" data-carousel-item>
<img src="{{asset('build/images/presentation/carousal2.29a865ea.jpeg')}}" class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 w-[50%] h-[50%] mx-auto" alt="...">

			</div>
		</div>
		<!-- Slider controls -->
		<button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
			<span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/50 dark:bg-gray-800/30 group-hover:bg-black dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
				<svg aria-hidden="true" class="w-6 h-6 text-white dark:text-balck-800" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
				</svg>
				<span class="sr-only">Previous</span>
			</span>
		</button>
		<button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
			<span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-black/50 dark:bg-gray-800/30 group-hover:bg-black dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
				<svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800 " fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
				</svg>
				<span class="sr-only">Next</span>
			</span>
		</button>
	</div>


	<div class=" mt-16 grid grid-rows-1">
		<h1 class="text-[#2B292D] text-center lg:text-[40px] md:text-[28px] sm:text-[25px] sm:place-content-center font-bold ">
			Un partenariat de choix
			<br>
			pour l’exploitation de vos donnée
		</h1>
	</div>
	<div class="flex flex-col rounded-lg bg-[#F8F8F8] lg:w-[968px] place-content-center sm:place-content-center mt-20 mx-auto sm:mx-auto md:w-1/2">
		<div class="flex flex-col md:flex-col sm:justify-center items-center sm:mx-auto">
			<a href="https://www.cityway.fr/" class="w-[172.31px] h-[72px] mb-10 sm:place-items-center">
				<img src="{{asset('build/images/presentation/cityway.b02c0ce9.png')}}" class="w-[172.31px] h-[72px] mb-10" alt="">
			</a>
		</div>
		<div class="flex flex-col md:flex-col ">
			<div class="flex flex-col mt-2 rounded-lg lg:place-items-center md:place-items-center sm:place-items-center mx-auto ">
				<p class="font-normal text-[#2B292D] lg:place-items-center md:place-items-center sm:place-items-center ">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem sit felis vulputate facilisis velit sit tortor morbi. Maecenas et vel ac donec ut sit scelerisque ut sit.
				</p>
			</div>
			<div class="flex flex-col md:flex-col">
				<div class="flex flex-col mt-2 rounded-lg items-center sm:mx-auto mx-auto md:w-1/2">
					<a href="https://www.cityway.fr/" class="underline md:underline-offset-4 mb-12 font-bold text-[#2B292D]">
						www.cityway.fr
					</a>
				</div>
			</div>
		</div>
	</div>

	{#......... link for contact and contact image for presentation/ de produit page last......... #}

	<div class="my-20 mx-auto bg-[#f8f8f8] place-content-center lg:w-full lg:h-[900px] md:w-full sm:w-full																																																																																																																																																																																																																																																																															">
		<div class="pt-20">
			<h1 class="text-[#2B292D] font-bold text-center lg:text-[40px] md:text-[22px]  sm:text-[18px] ">

				Vous avez des questions ?
				<br>
				Un projet ? Contactez-nous !

			</h1>

			<p class="space-y-2 text-[#2B292D] font-normal text-base text-center">
				Nos différentes offes inclues toutes les fonctionnalités nécessaires
				<br>
				aux besoins de vos utilisateurs.
			</p>

			<div class="grid grid-rows-1 mt-9 place-content-center">
				<a href="/contact" class="py-3 px-10 lg:w-[293px] lg:h-[56px] text-center font-semi-bold md:w-full sm:full   lg:text-xl md:text-base sm:text-sm  font-bold text-white bg-[#2B292D] rounded-full shadow-md  hover:bg-white hover:text-indigo-700">

					Débuter un projet
					<i class="fa-solid fa-arrow-right"></i>
				</a>
			</div>
			<div class="grid grid-rows-1 mt-8 place-content-center">
				<img src="{{asset('build/images/HomeBottomImage.4665a9a5.png')}}" alt="">
			</div>

		</div>
	</div>

	<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"> </script>
{% endblock %}

