{% apply inline_css %}

<style>

	h3 {
		font:solid
	}
</style>

<h1>New application</h1>

<h3>
	Information
</h3>

<p>FullName:{{fullName}}</p>

<p>Email:{{address}}</p>


<p>Phone Number:{{phonnumber}}</p>

<p>Pack:{{selectpack}}</p>

<p>message:{{message}}</p>










{% endapply %}

