{% apply inline_css %}

<style>

	h3 {
		font:solid
	}
</style>

<h1>Nouvelle application</h1>

<h3>
	Information
</h3>

<p>Nom:{{fullName}}</p>

<p>E-mail:{{address}}</p>


<p>numero de telephone:{{phonnumber}}</p>

<p>Pack:{{selectpack}}</p>

<p>Message:{{message}}</p>










{% endapply %}

