<!DOCTYPE html>
<html class="scroll-smooth">
	<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
		<link href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>

	<body class="overflow-x-hidden">
		<div class="accueil-1 rounded-tl-3xl  rounded-tr-3xl ml-6 mr-6 mt-6">
<a href="" class="animate-bounce absolute lg:right-[270px] lg:top-28 arrow md:top-32 md:right-24 ">
	<img src="{{asset('build/images/Frame 1860.ef0efac2.png')}}" alt="">
</a>

			<nav class="container relative mx-auto p-6">
				<div class="flex items-center justify-between space-x-20 my-6">
					<div class="z-30">
						<a href="/" class="gap-3 items-center  flex flex-row ">
							<img src="{{asset('build/images/logo.0bc07af2.png')}}" alt="" class="w-10 h-10">
							<div>
								<span class="text-2xl text-color font-semibold">
									bluedrop.
								</span>
								<span class="text-2xl font-normal">

									mobi
								</span>
							</div>
						</a>


					</div>

<div class="hidden items-center lg:space-x-6 md:space-x-2 text-[#2B292D]  font-semibold text-base md:flex text-color">


						<a href="/presentation" class="tracking-widest hover:text-indigo-700">
							Présentation
						</a>
						<a href="/fonctionnalites" class="tracking-widest hover:text-indigo-700">
							Fonctionnalités
						</a>
						<a href="/tarifs" class="tracking-widest hover:text-indigo-700">
							Tarifs
						</a>
						
{% if is_granted('ROLE_ADMIN') %}
<select onchange="window.location.href=this.value;" class="tracking-widest hover:text-indigo-700">
	<option selected>
		Dashboard
	</option>
	<option value="/admin/dashboard">
		page
	</option>
</select>

{% endif %}



<a href="/contacter" class="px-6 py-2 w-full text-center whitespace-nowrap bg-[#2B292D]  hover:bg-white hover:text-indigo-700 text-white rounded-full">


							 Nous contacter
						</a>

{% if app.user %}

<select onchange="window.location.href=this.value;"  class="lg:px-6 md:px-2 py-2 w-full text-center whitespace-nowrap bg-[#2B292D]  hover:bg-white hover:text-indigo-700 text-white rounded-full">
<option selected>
{{app.user.Fullname}}
</option>
<option value="/logout">
Logout
</option>
<option>
<a href="">
 Profile<i class="fas fa-user w-6 h-6"></i>
</a>
</option>
</select>

{% else %}
<a href="/login" class="lg:px-6 md:px-2 py-2 w-full text-center whitespace-nowrap bg-[#2B292D]  hover:bg-white hover:text-indigo-700 text-white rounded-full">
	Login
</a>

{% endif %}




					</div>
					<button class="z-30 block  md:hidden focus:outline-none hamburger" id="menu-btn">

						<span class="hamburger-top"></span>
						<span class="hamburger-middle"></span>
						<span class="hamburger-bottom"></span>


					</button>
				</div>
				<div id="menu" class="fixed hidden inset-0 mt-5 z-20  flex-col items-center self-end w-full h-full min-h-screen px-6 py-1 pt-24 pb-4 tracking-widest  text-white opacity-90 bg-gray-500">

					<div class="w-full py-3 text-center">
						<a href="" class="block hover:text-indigo-700" id="Présentation">Présentation</a>

					</div>

					<div class="w-full py-3 text-center">
						<a href="/fonctionnalites" class="block hover:text-indigo-700" id="Fonctionnalités">Fonctionnalités</a>

					</div>
					<div class="w-full py-3 text-center">
						<a href="/tarifs" class="block hover:text-indigo-700" id="Tarifs">Tarifs</a>


					</div>
					<div class="w-full py-3 text-center">
               <a href="" class="block hover:text-indigo-700" id="Nous contacter">Nous contacter</a>

					</div>

<div class="w-full py-3 text-center">
{% if app.user %}
<a href="/logout" class="block hover:text-indigo-700">Logout</a>
<div class="w-full py-3 text-center">
<a href="/" class="block hover:text-indigo-700">Profile</a>
</div>
{% else %}
<a href="/login" class="block hover:text-indigo-700">Login</a>

{% endif %}

{% if is_granted('ROLE_ADMIN') %}
<a href="/admin/dashboard" class="block hover:text-indigo-700">Page</a>	
{% endif %}
</div>


				</div>
			</nav>

			{% block body %}{% endblock %}
		</div>



{# section #}

{# <footer
	class=" py-8 button-color my-7 rounded-br-3xl rounded-bl-3xl">

	<!-- Footer Flex Container -->
	<div class="container flex flex-col items-center justify-between mx-auto space-y-16 px-6 md:flex-row md:space-y-0">
		<div class="flex flex-col items-center justify-between space-y-8 text-lg font-semibold md:flex-row md:space-y-0 md:space-x-14 text-[#2b292d]">
			<img src="{{asset('build/images/Favicon.78e20fef.png')}}" alt="" class="mb-1"/>
			<span class=" text-white font-semibold">bluedrop.mobi</span>

		</div>

		<div class="flex text-zinc-500">
			<span>&copy
				<script>
					document.write(new Date().getFullYear())
				</script>
				Copyright -</span>


			<a>Tous droits réservés -
				<span class="underline">Mentions légales</span>
			</a>


		</div>
	</div>
</footer> #}
{# end.section #}


	</body>
	
{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}

</html>
